.grid {
    padding: 15rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 5rem;
    scroll-behavior: smooth;
}
