.header {
    background-color: var(--Azul-1);
    height: 8vh;
    padding: 1rem 10rem;
}

@media screen and (max-width: 500px){
    
    .header{
        width: 100%;
        padding: 1rem 2rem;
    }

}
