.header {
    background: url(/HeroBackground.svg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    padding: 1rem 10rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textContainer {
    width: 35%;
    padding: 8rem 0;
}

.titulo {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--Branco-1);

}

.subtitulo {
    font: var(--Body-M);
    color: var(--Branco-1);
    line-height: 1.5;

}

.subtitulo, .titulo {
    margin-bottom: 2rem;
}

.blank {
    height: 60vh; 
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.title {
    font: var(--Headings-XXL);
    color: var(--Azul-1);
    text-align: center;
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
    .textContainer {
        width: 70%; /* Ajuste conforme necessário para dispositivos menores */
    }

    .titulo {
        font-size: 2.5rem; /* Reduzi o tamanho da fonte para dispositivos menores */
    }

    .blank {
        height: 30vh; /* Reduzi a altura para dispositivos menores */
    }

    .title {
        font-size: 2rem; /* Reduzi o tamanho da fonte para dispositivos menores */
    }
}

@media (max-width: 376px) {
    .header {

    }
    
    .textContainer {
        width: 90%; /* Ajuste conforme necessário para dispositivos ainda menores */
    }

    .titulo {
        font-size: 2rem; /* Reduzi ainda mais o tamanho da fonte para dispositivos muito pequenos */
    }

    .blank {
        height: 20vh; /* Reduzi a altura para dispositivos muito pequenos */
    }

    .title {
        font-size: 1.5rem; /* Reduzi ainda mais o tamanho da fonte para dispositivos muito pequenos */
    }
}